*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDEDED;
}
 .header {
background-color:#4C8F96;
display:flex;
height: 150px;
width: 100%;
 }
 .header img {
    width: 270px;
    height: 130px;
    padding-left: 100px;
    padding-top:10px ;
    margin-top: 20px;

 }
 .header ul {
    list-style-type: none; 
    margin-top:74px;
    margin-left: 80px;
    width:600px ;
    padding: -7px;
    display: inline-block;


 }
 .header li {
    
    background-color:#1B2130 ;
    display:inline-grid;
    margin-left: 19px;
    border-radius: 5px;
    

 }
.header a {
    text-decoration: none;
    color: White;
    font-weight: bolder;
    padding: 16px;

}
.selected  a {
    background-color: #335F64;
    color: white;
    border-radius: 5px;
    padding: 16px;
    
}


.section1 {
    margin-top: 100px;
    margin-left: 167px;
    margin-right: 40px;
    height: 378px;
    width: 1000px;
    background-color: white;
    border: 2px solid #4C8F96;
    align-self: center;
}

.section1 img {
    width: 356px;
    height: 378px;
    float: left;
}
.section1 h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
    text-align: center;
    margin-top: 140px;
    margin-right: 100px;
    line-height: 50px; 
    font-size: 40px;
    width: 412px;
    

}

.section2 {
    display: flex;
    margin-left:100px;
    margin-right: 100px;
    width: 1080px;
    height: 400px;
    margin-top: 100px;
}
.section2 img {
width: 250px;
box-shadow: 0px 8px 20px 0px ;
border: 4px solid #4C8F96;
height:200px ;
margin:10px
}
.section2 h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.section2 p{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;

}

.section3 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    display:inherit;
    width: 1100px;
    height: 600px;
    
}
.section3-container h1{
    border:1px solid #1B2130 ;
    background-color: #1B2130;
    color:white;
    letter-spacing: 2px;
    height: 40px;
    width: 180px;
    margin-top: -20px;
    margin-left: 35px;
}

.section3-container {
    width: 520px;
    border: 4px solid #4C8F96;
    margin: 30px;
    float: left;
    border-radius: 5px;


}
.section3-container img {
    width: 70px;
    height: 70px;
    border-radius: 2px;
    margin-left: 20px;
}
.section3-container h2 {
    color:#1B2130;
    margin-right: 40px;
    padding-left:50px ;
    text-align: center;
    margin-top: -47px;
    font-size: 17px;
}
.section3-container p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    font-size: unset;
    padding-top: 86px;
    
}
.section3-right-container1 {
    border: 4px solid #4C8F96;
    margin: 30px;
    float: right;
    border-radius: 5px;
    width: 350px;
    height: max-content;
    background-color: #335F64;
    margin-right: inherit;
} 
.section3-right-container1 h1 {
    background-color: #1B2130;
    color:white;
    width: fit-content;
    margin-top: -40px;
    padding: 13px;
    margin-left: 33px;


}
.section3-right-container1 p {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: white;
}
.section3-right-container1 h4 {
    font-weight: bold;
    float: right;
    color: white;

}
.section3-right-container2 {
    border: 4px solid #4C8F96;
    margin: 30px;
    float: right;
    border-radius: 5px;
    width: 350px;
    height: max-content;
    background-color: #335F64;
    padding-top: 20px;
    display: flex;
    margin-right: inherit;
} 
.section3-right-container2 img {
    width: 18%;
    height: 219px;
    z-index: 1;
    position: absolute;
    margin-top: -34px;
}


.section3-right-container2 p {
    font-weight: bold;
    font-size: 13px;
    color: white;
    height: 147px;
    margin-top: 20px;
    margin-left: 219px;
    font-family: sans-serif;
}
